このプログラムはtier表を作成するプログラムです．

5分割

SABCDでランク付け

All-in-One Notation and Grading Evaluation Logic (ANGEL)

In [ ]:
# google drive 上で行う場合は下記コマンドを入力すること
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

In [17]:
import pandas as pd


df = pd.read_csv('../csv/test.csv')

print(df)

   id name make idea  point remark
0   1    a    a    a     12      a
1   2    b    b    b     21      b
2   3    a    c    c     24      c
3   4    a    d    d     36      d

下記はグループ化の工程

groupbyの中身を変更することでまとめる基準を変更することができる

In [18]:
df_grouped= df.groupby('name',as_index=False).mean(numeric_only=True)

print(df_grouped)

  name        id  point
0    a  2.666667   24.0
1    b  2.000000   21.0

In [19]:
df_sorted = df_grouped.sort_values('point')

print(df_sorted)

  name        id  point
1    b  2.000000   21.0
0    a  2.666667   24.0

In [20]:
html_text ='''
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking Table</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        tr:hover {
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>
    <h1>Ranking Table</h1>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>

'''
for k in range (df_sorted.shape[0]):
 html_text=html_text+'''
 
            <tr>
                <td>{}</td>
                <td>{}</td>
                <td>{}</td>
            </tr>
 '''.format(k+1,str(df_sorted['name'][k]),df_sorted['point'][k])

html_text=html_text+'''
            </tr>
        </tbody>
    </table>
 </body>
 </html>
 '''

In [22]:
a=0
out_path = r'../output/'

while 1:
    try:
      if a==0:
       f = open('{}test.html'.format(out_path), 'x', encoding='UTF-8')
       break
      else:
        f = open('{}test_{}.html'.format(out_path,str(a)), 'x', encoding='UTF-8')
        break

    except:
      a+=1

f.write(html_text)
f.close()